{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Montserrat Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Static Css -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>User Management</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="grid-container">
            <!-- Header -->
            <header class="header">
                <div class="menu-icon" onclick="openSidebar()">
                    <span class="material-icons-outlined">menu</span>
                </div>
                <div class="header-left">
                    <span class="material-icons-outlined">search</span>
                </div>
                <!-- For logout -->
                <div class="header-right">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#logout">
                        <span class="material-icons-outlined">account_circle</span> Logout
                    </button>
                    <!-- Modal -->
                    <div class="modal" id="logout" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Logout</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure do want to leave this page</p>
                            </div>
                            <div class="modal-footer">
                                <form>
                                    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                                </form>
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                          </div>
                        </div>
                    </div> <!---Logout end section-->
                </div>
            </header>
            <!-- Sidebar -->
            <aside id="sidebar">
                <div class="sidebar-title">
                    <div class="sidebar-brand">
                        <span class="material-icons-outlined">inventory</span> P.O.S Admin
                    </div>
                    <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
                </div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="{% url 'dashboard' %}">
                            <span class="material-icons-outlined">dashboard</span> Dashboard
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="">
                            <span class="material-icons-outlined">list_alt</span> Transaction
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="{% url 'getListOfProduct' %}">
                            <span class="material-icons-outlined">inventory</span> Products
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="{% url 'getUserList' %}">
                            <span class="material-icons-outlined">group</span> User Management
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="#">
                            <span class="material-icons-outlined">settings</span> Settings
                        </a>
                    </li>
                </ul>
            </aside>
            <main class="main-container">
                <div class="main-cards">
                    <div class="card">
                        <div class="card-inner">
                            <p class="text-primary">Add Users</p>
                            <a 
                                type="button"
                                class="btn btn-primary me-1"
                                href="">
                                <i class="fa-solid fa-add fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="charts-card">
                    <div id="bar-chart">
                    {% if getUserList %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="expand-size">ID</th>
                                    <th scope="col" class="expand-size">First Name</th>
                                    <th scope="col" class="expand-size">Last Name</th>
                                    <th scope="col" class="expand-size">Address</th>
                                    <th scope="col" class="expand-size">Last Login</th>
                                    <th scope="col">Info</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in getUserList %}
                                    <tr>
                                        <td>{{ item.UserID }}</td>
                                        <td>{{ item.first_name }}</td>
                                        <td>{{ item.last_name }}</td>
                                        <td>{{ item.Address }}</td>
                                        <td >{{ item.last_login }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary me-1" href="{% url 'viewInfoTransaction' item.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{item.id}}">
                                                <i class="fa-solid fa-circle-info fa-lg"></i>
                                            </button>
                                                <!-- Modal -->
                                            <div class="modal" id="myModal{{item.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Proudct Details</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <ul class="list-unstyled">
                                                        <li>User ID : <strong>{{ item.UserID }}</strong></li>
                                                        <li>Firstname : <strong>{{ item.first_name }}</strong></li>
                                                        <li>Last Name : <strong>{{ item.last_name }}</strong></li>
                                                        <li>Address : <strong>{{ item.Address }}</strong></li>
                                                        <li>Age : <strong>{{ item.Age }}</strong></li>
                                                        <li>Last Login : <strong id="BPrice">{{ item.last_login }}</strong></li>
                                                        <li>Gender : <strong id="SPrice">{{ item.Gender }}</strong></li>
                                                        <li>Position : <strong id="SPrice">{{ item.Position }}</strong></li>
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="{% url 'editUser' item.id %}" class="btn btn-success"><i class="fa-solid fa-edit fa-lg"></i></a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{item.id}}">
                                                <i class="fa-solid fa-trash fa-lg"></i>
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal" id="delete{{item.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title">Transaction : {{ item.ProductName }}</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure do want to delete this record?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form action="{% url 'delete_list' item.id %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="submit" class="btn btn-primary" value="Delete">
                                                        </form>
                                                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <h5 class="alert alert-primary ms-4 me-4">No List</h5>
                    </div>
                {% endif %}
                </div>
            </main>              
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>